* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #C2B2B4;
}

header {
  background-color: #3E2A35;
  color: #FFF;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 25px;
}

.logo {
  height: 23px;
  padding: 0;
}

main {
  background-color: #3E2A35;
  margin: 0;
}

label {
  color: #C2B2B4;
  margin: 10px 0 0 5%;
}

input[type=text] {
  width: 90%;
  height: 30px;
  display: block;
  margin: 0 auto;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.title-field {
  margin-bottom: 20px;
}

.choose-save-button {
  text-align: center;
}


.button{
  display: inline-block;
  color: #FFF;
  border: none;
  background-color: #5B4447;
  width: 35%;
  height: 40px;
  margin: 20px auto;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}

.button:hover {
  background-color: #938284;
}
.button:disabled {
  background-color: lightgray;
}

.choose-file {
  margin-right: 19%;
}


section {
  background-color: #C2B2B4;
  padding: 5% 0;
}



/*Image Card CSS*/

.image-card {
  width: 300px;
  margin: auto auto 10px;
  border: 2px solid #938284;
  color: #3E2A35;

  /*border: 1px solid #C2B2B4;*/
}
h3 {
  /*background: #FFF;*/
  padding: 20px;
  margin: 0;
}

.image-card p {
  /*background: #FFF;*/
  padding: 15px;
  margin: -5px 0 0 0;
}

.white {
  background: #FFF;
}

#card-image {
  width: 100%;
}

/*.card-buttons {
  background: #5B4447*/
/*}*/
.click-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  border: none;
  background-color: #5B4447;
  margin: 0 10px;

}

.click-trash {
  background-image: url(images/delete.svg);
}

.click-trash:hover {
  background-image: url(images/delete-active.svg);
}

.click-heart {
  background-image: url(images/favorite.svg)
}

.card-like {
  float: right;
}

.card-delete {
  float: left;
}

.image-card section {
  background: #5B4447;
}

.favorited {
  background-color: #E26D5A;
  color: #FFF;
}

.click-heart-like {
  background-image: url(images/favorite-active.svg);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .logo {
    height: 36px;
  }

}

@media screen and (min-width: 640px) {
  #gallery {
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;*/
  }

  .image-card {
    display: inline-block;
    text-align: left;

  }
}
